/* ------ variables ------ */

$base-font: 14px 'raleway', sans-serif;
$secondary-font: 'playfair_display', serif;
$base-color: #2d2d2d;
$grey: #969696;
$dark-grey: #242424;
$link-color: #e2574c;
$link-color-hover: #b64036;
$base-text-shadow: 2px 2px 11px rgba(0, 0, 0, 0.7);

$tablet-width: 600px;
$desktop-width: 1240px;
