@import "variables";
@import "mixins";
@import "reset";
@import "fonts";
@import "generic";
@import "header";
@import "banner";
@import "category";
@import "mostloved";
@import "signup";

/* ------ footer ------ */

footer {
  padding: 4rem 0;
  background-color: $dark-grey;
  color: white;
}

footer div {
  text-align: center;
}

footer a {
  color: white;
}

.contact p {
  font-family: $secondary-font;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.contact a {
  text-decoration: underline;
}

.contact p span {
  color: $grey;
}

.social li {
  margin-bottom: 1rem;
  display: inline-block;
}

.social span {
  display: none;
}

.social i {
  margin-right: .5rem;
  width: 1rem;
}

/* ------ media queries ------ */

@media screen and (min-width: 600px) {

  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .contact {
    text-align: left;
  }

  .social li {
    display: block;
    text-align: left;
  }

  .social span {
    display: inline;
  }


}
