/* ------ fonts ------ */

@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway-light-webfont.eot');
    src: url('fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-light-webfont.woff2') format('woff2'),
         url('fonts/raleway-light-webfont.woff') format('woff'),
         url('fonts/raleway-light-webfont.ttf') format('truetype'),
         url('fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway-medium-webfont.eot');
    src: url('fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('fonts/raleway-medium-webfont.woff') format('woff'),
         url('fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_display';
    src: url('fonts/playfairdisplay-regular-webfont.eot');
    src: url('fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_display';
    src: url('fonts/playfairdisplay-bold-webfont.eot');
    src: url('fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-bold-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_display';
    src: url('fonts/playfairdisplay-italic-webfont.eot');
    src: url('fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-italic-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* ------ generic elements ------ */

html {
  font: 14px 'raleway', sans-serif;
  color: #2d2d2d;
}

h1 {
  font: 3rem 'playfair_display', serif;
  text-shadow: 2px 2px 11px rgba(0, 0, 0, 0.7);
  }

h2 {
  font: italic 2rem 'playfair_display', serif;
  margin-bottom: 1.75rem;
}

h2 span {
  font-weight: bold;
  font-style: normal;
}

h3 {
  font: 1.5rem 'playfair_display', serif;
  color: #e2574c;
}

p {
  line-height: 2;
}

img {
  max-width: 100%;
  height: auto;
}

.clear:after {
  content:'';
  clear: both;
  display: table;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
}


section {
  text-align: center;
  padding: 4rem 0;
  width: 100%;
}

/* ------ header ------ */

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

header img {
  height: 40px;
}

nav {
  margin: 0 auto;
  padding: 1rem;
  order: 1;
  border-top: 1px solid #d7d7d7;
  width: 90%;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 1rem;
  text-transform: uppercase;
  color: #e2574c;
  font-weight: 500;
}

nav li:last-child {
  margin: 0;
}

.logo, .cart {
  padding: .5rem;
}

.cart {
  text-align: right;
}


/* ------ banner & handcrafted ------ */

.banner {
  background: linear-gradient(rgba(0, 0, 50, 0.4), rgba(0, 0, 150, 0.15)), url(images/banner-girl.png) no-repeat center center, url(images/flower-bkgd.jpg) repeat-x;
  background-size: cover, contain;
  background-position-y: 0px, 75px;
  height: 260px;
  position: relative;
  color: white;
}

.banner-text {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  width: 100%;
}

.banner-text p {
  text-transform: uppercase;
}

/* ------ category ------ */

.category {
  padding: 0;
}

.category ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category li {
  height: 50vw;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category a {
  color: white;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: medium;
  text-decoration: none;
}

.small {
  flex: 0 0 calc(50% - 3px);
}

.large {
  flex: 2 0 100%;
}

.mens {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/mens-category.jpg);
  background-size: cover;
}

.trends {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/trends-category.jpg);
  background-size: cover;
}

.glasses {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/glasses-category.jpg);
  background-size: cover;
}

.sale {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/sale-category.jpg);
  background-size: cover;
}

.bags {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/bags-category.jpg);
  background-size: cover;
}

.womens {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/womens-category.jpg);
  background-size: cover;
}

/* ------ most loved ------ */

.mostloved ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.mostloved li {
  flex: 100%;
}

.mostloved p {
  text-transform: uppercase;
  line-height: 3;
}

/* ------ signup ------ */

.signup {
  background: url(images/wave-bkgd.jpg) center bottom no-repeat;
  color: white;
  margin-bottom: 10px;
  text-shadow: 2px 2px 11px rgba(0, 0, 0, 0.7);

}

.signup p {
  margin-bottom: 1.75rem;
}

form {
  position: relative;
  max-width: 375px;
  margin: 0 auto;
}

input[type="email"] {
  height: 45px;
  width: 100%;
  border-radius: 25px;
  border: 0;
  padding: 0 128px 0 20px;
  position: relative;
  box-sizing: border-box;
  font: 1rem 'raleway', sans-serif;
}

input[type="email"]:focus {
  outline: 0;
  border: 1px solid #969696;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 37px;
  margin: 4px;
  border-radius: 25px;
  border: 0;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: #e2574c;
  cursor: pointer;
}

button:hover {
  background-color: #b64036;
}

/* ------ footer ------ */

footer {
  padding: 4rem 0;
  background-color: #242424;
  color: white;
}

footer div {
  text-align: center;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #b64036;
}

.contact p {
  font-family:'playfair_display', serif;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.contact a {
  text-decoration: underline;
}

.contact p span {
  color: #969696;
}

.social li {
  margin-bottom: 1rem;
  display: inline-block;
}

.social span {
  display: none;
}

.social i {
  margin-right: .5rem;
  width: 1rem;
}

/* ------ media queries ------ */

@media screen and (min-width: 600px) {

  html {
    font-size: 16px;
  }

  nav {
    order: 0;
    flex: 50%;
    border: 0;
  }

  .logo, .cart {
    flex: 10%;
  }

  .banner {
    background-size: contain, contain;
  }

  .category li {
    height: 25vw;
  }

  .small {
    flex: 0 0 calc(25% - 3px);
  }

  .large {
      flex: 0 0 calc(50% - 3px);
  }

  .mostloved li {
    flex: 50%;
  }

  footer .container {
    display: flex;
    justify-content: space-between;
  }

  .contact {
    text-align: left;
  }

  .social {
    text-align: left;
  }

  .social li {
    display: block;
  }

  .social span {
    display: inline;
  }

}

@media screen and (min-width: 1240px) {

  header img {
    height: 60px;
  }

  .container {
    max-width: 1240px;
  }

  .banner {
    height: 420px;
  }

  .mostloved li {
    flex: 25%;
  }

  .handcrafted .container, .signup .container {
    max-width: 720px;
  }

}
